
h3 {
	font-family: "Lucida Handwriting", "Crusive";
	text-align: center;
	font-size: 120px;
	
}

p {
	font-family: "Lucida Handwriting", "Crusive";
	text-align: center;
	font-size: 3vw;
}

#shopi{
	text-align: center;
	font-family: "Times New Roman", Times, serif;
}

#shirt1p{
	margin-right: auto;
}

#shirt1i{
	margin-right: auto;
	font-family: "Times New Roman", Times, serif;
}

.maps{
	margin-left: auto;
	margin-right: auto;
}

.mapi{
	font-family: "Times New Roman", Times, serif;
	font-size: 40px;
}

.mapt{
	font-size: 100px;
}

.chillguyn {
	height: 10%;
	width: 100%;
}

.chillguyr {
	height: 10%;
	width: 100%;
}

.carousel-container {
  max-width: 800px; /* Adjust this value as needed */
  margin: 0 auto;
}

.carousel-inner img {
  max-height: 400px; /* Adjust this value as needed */
  object-fit: cover;
  object-position: center;
}

.chillguy{
	width:40px;
}


h2 {
	text-align: center;
}

h3 {
	font-size: 7vw;
	text-align: center;
}

h4 {
	text-align: center;
}

.chillguyblack{
	display:block;
	margin-right:auto;
	margin-left:auto;
}

.brownchillshirt{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.naturehoodie{
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.hide{
	color: #FFFFFF
}
.uparrow{
	display:none;
	width:150px;
}